# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.ProiectBlockhain.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/node_modules
/app/hardhat/node_modules/
/app/hardhat/node_modules/.bin/
/app/hardhat/node_modules/@adraffy/
/app/hardhat/node_modules/@ethersproject/
/app/hardhat/node_modules/@fastify/
/app/hardhat/node_modules/@metamask/
/app/hardhat/node_modules/@noble/
/app/hardhat/node_modules/@nomicfoundation/
/app/hardhat/node_modules/@nomiclabs/
/app/hardhat/node_modules/@scure/
/app/hardhat/node_modules/@sentry/
/app/hardhat/node_modules/@types/
/app/hardhat/node_modules/adm-zip/
/app/hardhat/node_modules/aes-js/
/app/hardhat/node_modules/agent-base/
/app/hardhat/node_modules/aggregate-error/
/app/hardhat/node_modules/ansi-align/
/app/hardhat/node_modules/ansi-colors/
/app/hardhat/node_modules/ansi-escapes/
/app/hardhat/node_modules/ansi-regex/
/app/hardhat/node_modules/ansi-styles/
/app/hardhat/node_modules/anymatch/
/app/hardhat/node_modules/argparse/
/app/hardhat/node_modules/balanced-match/
/app/hardhat/node_modules/base-x/
/app/hardhat/node_modules/bech32/
/app/hardhat/node_modules/binary-extensions/
/app/hardhat/node_modules/blakejs/
/app/hardhat/node_modules/bn.js/
/app/hardhat/node_modules/boxen/
/app/hardhat/node_modules/brace-expansion/
/app/hardhat/node_modules/braces/
/app/hardhat/node_modules/brorand/
/app/hardhat/node_modules/browser-stdout/
/app/hardhat/node_modules/browserify-aes/
/app/hardhat/node_modules/bs58/
/app/hardhat/node_modules/bs58check/
/app/hardhat/node_modules/buffer-from/
/app/hardhat/node_modules/buffer-xor/
/app/hardhat/node_modules/bytes/
/app/hardhat/node_modules/camelcase/
/app/hardhat/node_modules/chalk/
/app/hardhat/node_modules/chokidar/
/app/hardhat/node_modules/ci-info/
/app/hardhat/node_modules/cipher-base/
/app/hardhat/node_modules/clean-stack/
/app/hardhat/node_modules/cli-boxes/
/app/hardhat/node_modules/cliui/
/app/hardhat/node_modules/color-convert/
/app/hardhat/node_modules/color-name/
/app/hardhat/node_modules/command-exists/
/app/hardhat/node_modules/commander/
/app/hardhat/node_modules/cookie/
/app/hardhat/node_modules/create-hash/
/app/hardhat/node_modules/create-hmac/
/app/hardhat/node_modules/debug/
/app/hardhat/node_modules/decamelize/
/app/hardhat/node_modules/depd/
/app/hardhat/node_modules/diff/
/app/hardhat/node_modules/elliptic/
/app/hardhat/node_modules/emoji-regex/
/app/hardhat/node_modules/enquirer/
/app/hardhat/node_modules/env-paths/
/app/hardhat/node_modules/escalade/
/app/hardhat/node_modules/escape-string-regexp/
/app/hardhat/node_modules/ethereum-cryptography/
/app/hardhat/node_modules/ethereumjs-abi/
/app/hardhat/node_modules/ethereumjs-util/
/app/hardhat/node_modules/ethers/
/app/hardhat/node_modules/ethjs-util/
/app/hardhat/node_modules/evp_bytestokey/
/app/hardhat/node_modules/fdir/
/app/hardhat/node_modules/fill-range/
/app/hardhat/node_modules/find-up/
/app/hardhat/node_modules/flat/
/app/hardhat/node_modules/follow-redirects/
/app/hardhat/node_modules/fp-ts/
/app/hardhat/node_modules/fs-extra/
/app/hardhat/node_modules/fs.realpath/
/app/hardhat/node_modules/get-caller-file/
/app/hardhat/node_modules/glob/
/app/hardhat/node_modules/glob-parent/
/app/hardhat/node_modules/graceful-fs/
/app/hardhat/node_modules/hardhat/
/app/hardhat/node_modules/has-flag/
/app/hardhat/node_modules/hash-base/
/app/hardhat/node_modules/hash.js/
/app/hardhat/node_modules/he/
/app/hardhat/node_modules/hmac-drbg/
/app/hardhat/node_modules/http-errors/
/app/hardhat/node_modules/https-proxy-agent/
/app/hardhat/node_modules/iconv-lite/
/app/hardhat/node_modules/immutable/
/app/hardhat/node_modules/indent-string/
/app/hardhat/node_modules/inflight/
/app/hardhat/node_modules/inherits/
/app/hardhat/node_modules/io-ts/
/app/hardhat/node_modules/is-binary-path/
/app/hardhat/node_modules/is-extglob/
/app/hardhat/node_modules/is-fullwidth-code-point/
/app/hardhat/node_modules/is-glob/
/app/hardhat/node_modules/is-hex-prefixed/
/app/hardhat/node_modules/is-number/
/app/hardhat/node_modules/is-plain-obj/
/app/hardhat/node_modules/is-unicode-supported/
/app/hardhat/node_modules/js-sha3/
/app/hardhat/node_modules/js-yaml/
/app/hardhat/node_modules/json-stream-stringify/
/app/hardhat/node_modules/jsonfile/
/app/hardhat/node_modules/keccak/
/app/hardhat/node_modules/locate-path/
/app/hardhat/node_modules/lodash/
/app/hardhat/node_modules/log-symbols/
/app/hardhat/node_modules/lru_map/
/app/hardhat/node_modules/md5.js/
/app/hardhat/node_modules/memorystream/
/app/hardhat/node_modules/minimalistic-assert/
/app/hardhat/node_modules/minimalistic-crypto-utils/
/app/hardhat/node_modules/minimatch/
/app/hardhat/node_modules/mnemonist/
/app/hardhat/node_modules/mocha/
/app/hardhat/node_modules/ms/
/app/hardhat/node_modules/node-addon-api/
/app/hardhat/node_modules/node-gyp-build/
/app/hardhat/node_modules/normalize-path/
/app/hardhat/node_modules/obliterator/
/app/hardhat/node_modules/once/
/app/hardhat/node_modules/os-tmpdir/
/app/hardhat/node_modules/p-limit/
/app/hardhat/node_modules/p-locate/
/app/hardhat/node_modules/p-map/
/app/hardhat/node_modules/path-exists/
/app/hardhat/node_modules/path-parse/
/app/hardhat/node_modules/pbkdf2/
/app/hardhat/node_modules/picocolors/
/app/hardhat/node_modules/picomatch/
/app/hardhat/node_modules/randombytes/
/app/hardhat/node_modules/raw-body/
/app/hardhat/node_modules/readable-stream/
/app/hardhat/node_modules/readdirp/
/app/hardhat/node_modules/require-directory/
/app/hardhat/node_modules/resolve/
/app/hardhat/node_modules/ripemd160/
/app/hardhat/node_modules/rlp/
/app/hardhat/node_modules/safe-buffer/
/app/hardhat/node_modules/safer-buffer/
/app/hardhat/node_modules/scrypt-js/
/app/hardhat/node_modules/secp256k1/
/app/hardhat/node_modules/semver/
/app/hardhat/node_modules/serialize-javascript/
/app/hardhat/node_modules/setimmediate/
/app/hardhat/node_modules/setprototypeof/
/app/hardhat/node_modules/sha.js/
/app/hardhat/node_modules/solc/
/app/hardhat/node_modules/source-map/
/app/hardhat/node_modules/source-map-support/
/app/hardhat/node_modules/stacktrace-parser/
/app/hardhat/node_modules/statuses/
/app/hardhat/node_modules/string-width/
/app/hardhat/node_modules/string_decoder/
/app/hardhat/node_modules/strip-ansi/
/app/hardhat/node_modules/strip-hex-prefix/
/app/hardhat/node_modules/strip-json-comments/
/app/hardhat/node_modules/supports-color/
/app/hardhat/node_modules/tinyglobby/
/app/hardhat/node_modules/tmp/
/app/hardhat/node_modules/to-regex-range/
/app/hardhat/node_modules/toidentifier/
/app/hardhat/node_modules/tslib/
/app/hardhat/node_modules/tsort/
/app/hardhat/node_modules/tweetnacl/
/app/hardhat/node_modules/tweetnacl-util/
/app/hardhat/node_modules/type-fest/
/app/hardhat/node_modules/undici/
/app/hardhat/node_modules/undici-types/
/app/hardhat/node_modules/universalify/
/app/hardhat/node_modules/unpipe/
/app/hardhat/node_modules/util-deprecate/
/app/hardhat/node_modules/uuid/
/app/hardhat/node_modules/widest-line/
/app/hardhat/node_modules/workerpool/
/app/hardhat/node_modules/wrap-ansi/
/app/hardhat/node_modules/wrappy/
/app/hardhat/node_modules/ws/
/app/hardhat/node_modules/y18n/
/app/hardhat/node_modules/yargs/
/app/hardhat/node_modules/yargs-parser/
/app/hardhat/node_modules/yargs-unparser/
/app/hardhat/node_modules/yocto-queue/
